@charset "utf-8";


.guitarist{
	display: inline-block;
	float: right;
	height: 220px;
	margin-top: 33px;
}
.context{
	height: 298px;
	width: 971px;
	background-color: rgb(238,221,205);
}
.context1{
	padding: 32px 110px 25px 98px;
}
.context1 h1{
	font-weight: 550;
	font-size: 21px; 
	margin-bottom: 22px;
	font-family: arial;
}
.context1 p{
	line-height: 20px;
	font-size: 15px;
}
.context1 a{
	text-decoration: none;
	background-color: #f5bb5a;
	color: black;
	font-weight: bold;
}
.picShow{
	position: absolute;
}
.pics{
	margin-top: 17px;
	/*margin-bottom: 25px;*/
	border-radius: 30px;
	width: 150px;
	height:150px;
	position: absolute;
	overflow: hidden;
}