<div class="headFixed">
    <div class="homeHead">
        <a href="#/home" class="left"><span class="iconfont icon-comiiszuojiantou"></span><span>爱奇艺首页</span></a>
        <div class="middle">
            进圈
        </div>
        <div class="right">
            <a href="javascript:;"><span class="iconfont icon-tongxunlu"></span></a><div></div>
        </div>
    </div>
    <div class="lightline"></div>
    <a href="#/search" class="homeSearch">
        <div>
            <div ng-class='{"1": "full", "2": "full homeSearchColor", "3": "homeSearchColor"}[homeSearchColorFull()]'
                 class="search">
                <input type="text">
                <div>
                    <span class="iconfont icon-fangdajing"></span>
                </div>
            </div>
        </div>
    </a>
</div>
<div class="change">
    <div class="scrollWrap">
        进圈
    </div>
</div>
<style type="text/css">
    .headFixed {
        height: 3.90625rem;
        width: 100%;
    }
    .homeHead > .middle{
        font-size: 0.8rem;
        line-height: 2.1rem;
    }
</style>