<div id="balls">
    <div class="change" ui-view></div>
    <div class="footerFixed">
        <div ui-sref=".kandian" ng-class='{true: "active"}[ballskandianBol]'><span class="iconfont icon-eye active"></span><br><span>看点</span></div>
        <div ui-sref=".jinquan" ng-class='{true: "active"}[ballsjinquanBol]'><span class="iconfont icon-pengyouquan"></span><br><span>进圈</span></div>
        <div ui-sref=".faxian" ng-class='{true: "active"}[ballsfaxianBol]'><span class="iconfont icon-faxian"></span><br><span>发现</span></div>
        <div ui-sref=".xiaoxi" ng-class='{true: "active"}[ballsxiaoxiBol]'><span class="iconfont icon-pinglun"></span><br><span>消息</span></div>
    </div>
</div>