<style type="text/css">
    .headFixed{
        height: 5.85938rem;
        width: 100%;
    }
    .homeHeadBar{
        height: 31.11111%;
        width: 100%;
        background: #f5f5f5;
        font-size: 0;
        overflow: hidden;
    }
    .homeHeadBar > div{
        height: 100%;
        white-space: nowrap;
    }
    .homeHeadBar > div > div{
        box-sizing: border-box;
        height: 100%;
        padding: 0 0.71615rem;
        line-height: 3;
        font-size: 0.7rem;
        color: #555;
        display: inline-block;
        border-bottom: 1px solid #cccccc;
    }
    .homeHeadBar > div > div.active{
        color: #d4b27e;
        border-bottom: 1px solid #d4b27e;
    }
</style>
<div class="headFixed">
    <div class="homeHead">
        <div class="homeLogin" >
            <a href="#/login"><img src="./img/login.png" alt=""></a>
            <a href="#/openvip"><img src="./img/vip.png" alt=""></a>
        </div>
        <a href="#/history"><span class="iconfont icon-shizhong"></span></a>
        <a href="#/news"><span class="iconfont icon-xiaoxi"></span></a>
    </div>
    <a href="#/search" class="homeSearch">
        <div>
            <div ng-class='{"1": "full", "2": "full homeSearchColor", "3": "homeSearchColor"}[homeSearchColorFull()]' class="search">
                <input ng-class='{true: "homeSearchColor"}[homeColorBol]' type="text">
                <div ng-class='{true: "homeSearchColor"}[homeColorBol]'>
                    <span class="iconfont icon-fangdajing"></span>
                </div>
            </div>
            <div ng-class='{true: "hide"}[homeChooseBol]' class="choose"><span>筛选&nbsp;<span class="iconfont icon-jiantouyou"></span></span></div>
        </div>
    </a>
    <div class="homeHeadBar">
        <div>
            <div ng-class='{true: "active"}[homevipjingxuanBol]' ui-sref=".jingxuan">VIP精选</div>
            <div ng-class='{true: "active"}[homevipjulebuBol]' ui-sref=".julebu">会员俱乐部</div>
            <div ng-class='{true: "active"}[homevipdianyingBol]' ui-sref=".dianying">电影</div>
            <div ng-class='{true: "active"}[homevipdianshijuBol]' ui-sref=".dianshiju">电视剧</div>
            <div ng-class='{true: "active"}[homevipyanchanghuiBol]' ui-sref=".yanchanghui">演唱会</div>
            <div ng-class='{true: "active"}[homevipjilupianBol]' ui-sref=".jilupian">纪录片</div>
        </div>
    </div>
</div>
<div class="change" ui-view></div>