@charset "utf-8";


@media only screen and (min-width: 900px){
	#tour{
		width: 1263px;
	}
	#tour figure{
		float: left;
	}
}

@media only screen and (min-width:600px) and (max-width: 899px){
	.logo{
		display: none;
	}
	#header{
		min-width: 0;
	}
	#header .link{
		width: 100%;
	}
	#header .center .link li{
		width: 20%;
	}
	#search{
		min-width: 0;
		background-size: 100%;
		height: 170px;
	}
	#tour{
		width: 100%;
		min-width: 0;
	}
	#tour figure{
		width: 49%;
		margin: 10px 2px;
		box-sizing: border-box;
		text-align: center;
		float: left;
	}
	#tour figure img{
		width: 98%;
		height: 240px;
	}
	#tour figure figcaption{
		width: 100%;
		text-align: left;
		height: 89px;
	}
	#footer{
		height:81px; 
		min-width: 0;
	}
	#footer .top{
		display: none;
	}
	#footer .vers{
		display: block;
	}
	#footer .bottom{
		overflow: hidden;
		word-wrap: wrap;
		text-overflow: ellipsis;
	}
	
}

@media only screen and (max-width:599px){
	.logo{
		display: none;
	}
	#header{
		min-width: 0;
	}
	#header .link{
		width: 100%;
	}
	#header .link .block{
		display: none;
	}
	#header .link .hidden{
		display: block;
	}
	#header .link .hidden li{
		width: 25%;
	}
	#search{
		min-width: 0;
		background-size: 100% 100%;
		height: 170px;
	}
	#search .center{
		width: 66%;
		margin: -3% 0 0 -30%;
	}
	#search .search{
		width: 48%;
		margin: -2.6% 0 0 -29%;
	}
	#search .button{
		width: 12%;
		margin: -2.6% 0 0 23%;
		font-size: 100%;
	}
	#tour{
		width: 100%;
		min-width: 0;
	}
	#tour figure{
		width: 100%;
		margin: 10px 2px;
		box-sizing: border-box;
		text-align: center;
		float: left;
	}
	#tour figure img{
		width: 98%;
		height: 300px;
	}
	#tour figure figcaption{
		width: 100%;
		text-align: left;
		height: 89px;
	}
	#footer{
		height:81px; 
		min-width: 0;
	}
	#footer .top{
		display: none;
	}
	#footer .vers{
		display: block;
	}
	#footer .bottom{
		overflow: hidden;
		word-wrap: wrap;
		text-overflow: ellipsis;
	}
}