	<!--分类部分-->
	<div id="category">
		<!--header-->
		<div id="header">
			<div class="back"><a href="../index.html"></a></div>
			<div class="title">商品分类</div>
			<div class="search"></div>
		</div>
		<!--content-->
		<article class="category">
			<section class="menuLeft">
				<ul>
					<li class="menuList">手机</li>
					<li class="menuList">笔记本&平板</li>
					<li class="menuList">穿戴</li>
					<li class="menuList">智能家居</li>
					<li class="menuList">专属配件</li>
					<li class="menuList">通用配件</li>
				</ul>
			</section>
			<section class="itemRight">
				<ul>
					<li class="itemList"><img src="./img/category/ (1).jpg" alt="" />荣耀</li>
					<li class="itemList"><img src="./img/category/ (2).jpg" alt="" />畅玩</li>
					<li class="itemList"><img src="./img/category/ (3).jpg" alt="" />华为Mate/P系列</li>
					<li class="itemList"><img src="./img/category/ (4).jpg" alt="" />华为 nova系列</li>
					<li class="itemList"><img src="./img/category/ (5).jpg" alt="" />华为G系列</li>
					<li class="itemList"><img src="./img/category/ (6).jpg" alt="" />华为 畅享系列</li>
					<li class="itemList"><img src="./img/category/ (7).jpg" alt="" />华为 畅享系列</li>
					<li class="itemList"><img src="./img/category/ (8).jpg" alt="" />华为 畅享系列</li>
					<li class="itemList"><img src="./img/category/ (9).jpg" alt="" />华为 畅享系列</li>
					<li class="itemList"><img src="./img/category/ (10).jpg" alt="" />华为 畅享系列</li>
					<li class="itemList"><img src="./img/category/ (11).jpg" alt="" />华为 畅享系列</li>
					<li class="itemList"><img src="./img/category/ (12).jpg" alt="" />华为 畅享系列</li>
					<li class="itemList"><img src="./img/category/ (13).jpg" alt="" />华为 畅享系列</li>
				</ul>
				<ul>
					<li class="itemList"><img src="./img/category/ (6).jpg" alt="" />华为 畅享系列</li>
					<li class="itemList"><img src="./img/category/ (7).jpg" alt="" />华为 畅享系列</li>
					<li class="itemList"><img src="./img/category/ (8).jpg" alt="" />华为 畅享系列</li>
					<li class="itemList"><img src="./img/category/ (9).jpg" alt="" />华为 畅享系列</li>
					<li class="itemList"><img src="./img/category/ (10).jpg" alt="" />华为 畅享系列</li>
				</ul>
				<ul>
					<li class="itemList"><img src="./img/category/ (6).jpg" alt="" />华为 畅享系列</li>
					<li class="itemList"><img src="./img/category/ (7).jpg" alt="" />华为 畅享系列</li>
					<li class="itemList"><img src="./img/category/ (9).jpg" alt="" />华为 畅享系列</li>
					<li class="itemList"><img src="./img/category/ (1).jpg" alt="" />华为 畅享系列</li>
					<li class="itemList"><img src="./img/category/ (5).jpg" alt="" />华为 畅享系列</li>
				</ul>
				<ul>
					<li class="itemList"><img src="./img/category/ (1).jpg" alt="" />华为 畅享系列</li>
					<li class="itemList"><img src="./img/category/ (3).jpg" alt="" />华为 畅享系列</li>
					<li class="itemList"><img src="./img/category/ (11).jpg" alt="" />华为 畅享系列</li>
					<li class="itemList"><img src="./img/category/ (2).jpg" alt="" />华为 畅享系列</li>
					<li class="itemList"><img src="./img/category/ (5).jpg" alt="" />华为 畅享系列</li>
				</ul>
				<ul>
					<li class="itemList"><img src="./img/category/ (1).jpg" alt="" />华为 畅享系列</li>
					<li class="itemList"><img src="./img/category/ (7).jpg" alt="" />华为 畅享系列</li>
					<li class="itemList"><img src="./img/category/ (4).jpg" alt="" />华为 畅享系列</li>
					<li class="itemList"><img src="./img/category/ (5).jpg" alt="" />华为 畅享系列</li>
					<li class="itemList"><img src="./img/category/ (8).jpg" alt="" />华为 畅享系列</li>
				</ul>
				<ul>
					<li class="itemList"><img src="./img/category/ (11).jpg" alt="" />华为 畅享系列</li>
					<li class="itemList"><img src="./img/category/ (12).jpg" alt="" />华为 畅享系列</li>
					<li class="itemList"><img src="./img/category/ (13).jpg" alt="" />华为 畅享系列</li>
					<li class="itemList"><img src="./img/category/ (8).jpg" alt="" />华为 畅享系列</li>
					<li class="itemList"><img src="./img/category/ (9).jpg" alt="" />华为 畅享系列</li>
				</ul>
			</section>
		</article>

	
