		<!--我的 部分-->
		<div id="user">
			<div class="empty"></div>
			<div id="header">
				<div class="back"><a href="../index.html"></a></div>
				<div class="title">我的华为商城</div>
				<div class="search"></div>
			</div>
			<div id="content">
				<div class="userPotrait">
					<div class="circle">
						<img src="./img/user/potrait.jpg" alt="" />
					</div>
				</div>
				<div class="nav">
					<ul>
						<li>
							<a href="">
								<span>我的订单</span>
								<b>></b>
							</a>
						</li>
						<li>
							<a href="">
								<span>我的回收单</span>
								<b>></b>
							</a>
						</li>
						<li>
							<a href="">
								<span>我的预约</span>
								<b>></b>
							</a>
						</li>
						<li>
							<a href="">
								<span>我的代金券</span>
								<b>></b>
							</a>
						</li>
						<li>
							<a href="">
								<span>收货地址</span>
								<b>></b>
							</a>
						</li>
						<li>
							<a href="">
								<span>退换货管理（0）</span>
								<b>></b>
							</a>
						</li>
						<li>
							<a href="">
								<span>优惠券</span>
								<b>></b>
							</a>
						</li>
						<li>
							<a href="">
								<span>会员特权频道</span>
								<b>></b>
							</a>
						</li>
					</ul>
				</div>
				<div class="nav">
					<ul>
						<li>
							<a href="">
								<span>服务网点</span>
								<b>></b>
							</a>
						</li>
						<li>
							<a href="">
								<span>帮助中心</span>
								<b>></b>
							</a>
						</li>
						<li>
							<a href="">
								<span>联系客服</span>
								<b>></b>
							</a>
						</li>
						<li>
							<a href="">
								<span>意见反馈</span>
								<b>></b>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="bottom">
				<p class="login">
					<a href="#">注销</a>
					<a href="#">反馈</a>
				</p>
				<p class="touch">
					<a href="#">触屏版</a>
					<a href="#">电脑版</a>
					<a href="#">客户端</a>
				</p>
				<p class="copyright">
					Copyright © 2011-2016
				</p>
				<div class="empty"></div>
			</div>
		</div>

